@import "~bootstrap/scss/bootstrap.scss";
@import "~react-phylotree/styles/phylotree.css";

div.alignmentjs-container {
  float: left;
  padding: 0;
  margin: 0;
}

svg#alignmentjs-labels > text {
  font-family: Courier;
  font-size: 14px;
}
